<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="cl" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <!-- 控制台输出日志 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender"> <!---->
        <encoder>
            <pattern>%cl(%d{HH:mm:ss.SSS}){blue} > %highlight(%-5level %logger{35}) - %cl(%m%n){green}</pattern>
        </encoder>
        <withJansi>true</withJansi>
    </appender>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.apache.tomcat" level="INFO"/>
    <logger name="org.eclipse" level="INFO"/>
    <logger name="org.hsweb" level="DEBUG"/>
    <logger name="freemarker.cache" level="INFO"/>
    <logger name="jndi" level="INFO"/>
    <logger name="org.apache.commons.beanutils" level="INFO"/>
    <logger name="com.atomikos" level="INFO" />
    <logger name="com.atomikos.jdbc.AtomikosConnectionProxy" level="INFO"/>
    <root level="DEBUG">
        <appender-ref ref="Console"/>
    </root>
</configuration>